[bumpversion]
current_version = 0.1.0
commit = False
tag = False

[bumpversion:file:setup.py]

[bumpversion:file:bidfx/__init__.py]

[bumpversion:file:bidfx/_bidfx_api.py]

[bumpversion:file:tests/test_session.py]
search = VERSION = "{current_version}"
replace = VERSION = "{new_version}"

[bumpversion:file:DEVELOPMENT.md]
search = api-{current_version}
replace = api-{new_version}
