bump2version==1.0.0
certifi==2019.11.28
docutils==0.16
Jinja2==2.11.1
pycryptodomex==3.9.4
requests==2.22.0
six==1.14.0
snowballstemmer==2.0.0
Sphinx==2.4.4
twine==3.1.1
webencodings==0.5.1
websocket-client==0.57.0
zipp==3.1.0
